{#
/**
 * @file
 * Default theme implementation for a 'coordinate' #type form element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered checkboxes.
 *
 * @see template_preprocess_coordinate()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>{{ latitude }} {{ longitude }}</div>
